services:
  postgres:
    image: postgres:16
    container_name: EduGen-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - edugen:/var/lib/postgresql/data

volumes:
  edugen: